<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Login</title>
</head>
<body class="container">
    <h1 style="text-align: center;">LOGIN</h1>
    <h3 style="text-align: center;">SQL Query Analyzer</h3>
    <form action="/login" class="form-group" method="post">
        <table style="margin: 0 auto;">
            <tr>
                <td class="label">Username:</td>
                <td><input type="text" name="username" required></td>
            </tr>
            <tr>
                <td class="label">Password:</td>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login"></td>
            </tr>
            <tr>
                <td></td>
                <td class="reg_btn"><a href="/register">Register</a></td>
            </tr>
        </table>
    </form>
</body>
</html>